# Use /api when frontend and backend are deployed through the root vercel.json.
VITE_API_URL=/api
VITE_CIRCLE_APP_ID=
VITE_EURC_ESCROW_ADDRESS=0xa4322D8ba3E040A3028FD6ABaC3c6a5625ed4ca7
VITE_CIRBTC_ESCROW_ADDRESS=0x8bfeD6F70Eb595946543b192b6E63d75A0bBEf4B
VITE_DISPUTE_ADMIN_WALLET=
